<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Título %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Autor %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.select :status, Book.statuses.keys, class:'form-control' %>
  </div>

  <div id="hide_div"  class="field">
    <%= form.label :'Fecha préstamo' %>
    <%= form.date_select :borrow_date, placeholder: 'borrow_date' %>
  </div>

  <div class="field">
    <%= form.label :'Devuelto el:' %>
    <%= form.date_select :returned_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
