<p id="notice"><%= notice %></p>

<h1>Mi biblioteca</h1>
<div>
<div class="row">
    <div class="col-sm-4 my-4">
        <%= search_form_for @q do |f|%>
            <div class="form-group">
              <%= f.label :status_eq, "Búsqueda por status" %>
              <%= f.select :status_eq, options_for_select(Book.statuses, @q.status_eq), {}, {class: 'form-control'} %>
            </div> 
            <div class="btn-group" role="group" aria-label="...">
            <%= f.submit "Buscar", class: "btn btn-outline-primary" %>
            <%= link_to "Todos los libros", root_path, class: "btn btn-outline-primary"%>
            </div>
        <% end  %>    
    </div> 
    <div class="offset-sm-6 mt-5">
      <button type="button" class="btn btn-outline-primary text-right">
        <%= link_to 'New Book', new_book_path %>
      </button>
    </div>
</div>

</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Autor</th>
      <th scope="col">Status</th>
      <th scope="col">Fecha préstamo</th>
      <th scope="col">Devuelto el:</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.status %></td>
        <% if book.status == 'prestado' %>
        <td><%= book.borrow_date %></td>
        <td><%= book.returned_date %></td>
        <%else%>
        <td><%=''%></td>
        <td><%=''%></td>
        <%end%>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 


